@import 'reset';
@import 'variables/global';

body {
  font: var(--font-m);
  color: var(--primary-color);
  overflow-x: hidden;
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.page-wrapper {
  padding: 20px;
}

a {
  color: var(--primary-color);
  &:hover {
    opacity: 0.8;
  }
}

li {
  list-style: none;
}
