@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Shantell+Sans);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import 'variables/global';

body {
  font: var(--font-m);
  font-family: var(--font-family-main);
  color: var(--light-text-color);
  overflow-x: hidden;
}

a {
  color: var(--primary-color);
  &:hover {
    opacity: 0.8;
  }
}

li {
  list-style: none;
}
