.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.078);
}

.logobox {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 0 1 300px;
}

.logo {
  width: 50px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.mainLink {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.logoutLink {
  flex: 0 1 300px;
  display: flex;
  justify-content: center;
}
