.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: var(--light-panel-bg-color);
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all .3s ease 0s;

  a {
    font-family: var(--font-family-main);
  }
}

.sticky {
  padding: 3px 15px;
  opacity: .8;
}

.sticky:hover {
  opacity: 1;
}

.logobox {
  flex: 0 1 300px;
}

.logo {
  & img {
    width: 140px;
    height: auto;
    vertical-align: middle;
  }
}

.mainLink {
  font-weight: 800;
  font-size: var(--font-size-l);
  flex: 1 1 300px;
  color: var(--tittle-text-color);
}

.authLinks {
  flex: 0 1 300px;
}
