.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
  position: relative;

  @media screen and (max-width: 690px) {
    padding: 20px 5px;
    gap: 20px;
  }
}

.links {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  padding-bottom: 45px;
}

.link {
  font-size: var(--font-size-l);
}

.linkColor {
  color: var(--tittle-text-color);
}

.cat {
  position: absolute;
  bottom: -35px;
  width: 100px;
  height: auto;
}
