.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.links {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.link {
  font-size: var(--font-size-l);
}

.linkColor {
  color: var(--tittle-text-color);
}
